app/*
edit/*
coordinate_csv
coordinate_csv2
dataset
dataset_json
out
out_csv
relics
splitted
screenshots
sorted_csv
coordinate_csv/*
dataset_json/*
spriteCoordinater/extracted_csv
ImageRecognition/*
tree.sh
__pycache__